config VFIO_PCI_QUIRKS_IGD
    bool
    depends on PCI

config VFIO_PCI_QUIRKS_ATI
    bool
    depends on PCI

config VFIO_PCI_QUIRKS_NVIDIA
    bool
    depends on PCI

config VFIO_PCI_QUIRKS_REALTEK
    bool
    depends on PCI
